.numberPad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  font-size: 48px;
  font-weight: bold;
  font-family: 'e-Ukraine';
  padding: 15px 0;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 15px;
  margin-bottom: 10px;

  > button {
    font-size: 36px;
    padding: 0 10px;
    background: none;
    border: none;
    color: #4F4F4F;
    font-weight: bold;
    font-family: 'e-Ukraine';
  }
}


